@import '../../../../../main.module.scss';

.listItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 38px;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  color: $gray-99;
  transition: color .3s ease;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-d9;
  }

  svg {
    margin-right: 6px;
    min-width: 14px;

    path {
      transition: fill .3s ease;
    }
  }
}

@media (max-width: 1024px) {
  .listItem {
    &:nth-child(1), &:nth-child(2), &:nth-child(4) {
      display: none
    }
  }
}
@media (min-width: 1024px) {
  .listItem {
    &:hover {
      color: $orange;

      svg path {
        fill: $orange;
      }
    }
  }
}
