@import '../../../main.module.scss';

.searchBlock {
  margin: 0 0 38px;
  padding: 14px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 1024px) {
  .searchBlock {
    padding: 0;
    margin: 0 0 0 auto;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    order: 3;
  }
}
