/* montserrat-regular - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #E5E5E5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto;
}

.bold-descr {
  margin: 0;
  font-weight: 700;
  color: #FFFFFF;
}

.button {
  display: inline-block;
  padding: 20px 38px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 16px;
}

.button_theme_filled {
  color: #FFF;
  background-color: #FF9900;
}

.button_theme_empty {
  color: #FFFFFF;
  background: transparent;
  border: 3px solid #FF9900;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.description {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* HEADER */

.header {
  position: relative;
  height: 100px;
  background: #FFF;
  border-radius: 0px 0px 32px 32px;
  z-index: 1;
}

.header__container {
  margin-left: 75px;
  margin-right: 75px;
  display: flex;
  align-items: center;
  height: 100%;
}

.burger {
  display: none;
}

.header__logo {
  width: 224px;
  height: 72px;
  margin-right: auto;
}

.header__right {
  display: flex;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  margin-right: 85px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.burger {
  display: none;
}

/* HERO */
.hero__container {
  margin-top: 50px;
  padding-top: 100px;
  padding-left: 80px;
  min-height: 620px;
  position: relative;
  background: url('/EVKLID/img/low-angle-photo-of-balconies-2462015\ 1.jpg') left center no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.hero__heading {
  margin: 0;
  max-width: 850px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFF;
}

.hero__description {
  margin-bottom: 50px;
  max-width: 850px;
  font-size: 24px;
  line-height: 29px;
}

.hero__button {
  padding: 25px 37px;
  font-size: 23px;
  line-height: 29px;
}


/* ABOUT */

.about__container {
  margin-top: 50px;
}

.about__description {
  margin-top: 20px;
  max-width: 1250px;
}

.about__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about__column {
  max-width: 870px;
  flex: 1 1 calc(50% - 32px);
}

.banner {
  height: 622px;
  padding-top: 426px;
  background: url('/EVKLID/img/Rectangle\ 2.png') left center no-repeat;
  background-size: cover;
  background-color: transparent;
}

.banner__bottom {
  height: 196px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  border-radius: 32px;
}

.banner__description {
  max-width: 450px;
  font-size: 16px;
  line-height: 32px;
}

/* MEDIA */

@media (max-width: 1200px) {
  .nav-list {
    display: none;
  }

  .burger {
    display: inline-block;
  }

  .header__logo {
    margin: 0;
  }

  .header__container {
    justify-content: space-between;
  }
}
