@import '../../main.module.scss';

.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  background-color: $white;
  position: absolute;
  top: 10px;
  right: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.closeButton {
  height: 39px;
  width: 157px;
  background-color: $gray-d9;
  margin-right: -20px;
  margin-left: -20px;
  text-align: center;
  color: $gray-66;
  transition: color .3s ease;
}

@media all and (min-width: 1024px) {
  .list {
    padding-top: 5px;
    left: -60px;
    top: 19px;
    width: 157px;
    height: 229px;
  }
}
