@import '../../../main.module.scss';

.card {
  background-color: $white;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;

  * {
    flex: 1 1 100%;
  }
}

@media all and (min-width: 1024px) {
  .card {
    background-color: transparent;
    border-radius: 0;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-height: 107px;
    padding: 0 40px;

    * {
      flex: 0 0;
    }
  }

  .controls {
    flex: 0 0;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 0 60px;
    max-height: 147px;
    cursor: pointer;

    &:hover {
      outline: 1px solid $gray-d9;
    }

    &:focus-within {
      outline: 1px solid $gray-d9;
    }
  }
}
