.test,
.skillbox {
  font-size: 16px;
  border: 1px solid red;
}

.test {
  margin-bottom: 10px;
}

.space .child {
  background-color: #999;
}

.space > .child {
  border: 1px solid red;
}

.child-first ~ .child {
  border-color: blue;
}

button:hover,
button:focus {
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

button:focus {
  outline: 1px solid black;
}

button:active {
  box-shadow: none;
  outline: none;
}

/* next example */
body {
  margin: 0;
  padding: 50px;
}

.element {
  background-color: tomato;
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border-radius: 5px;
  /* pointer-events: none; */
}

input {
  width: 300px;
  height: 50px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid #000;
}


.element:hover {
  background-color: navy;
}

.element:active {
  background-color: powderblue;
}

input:focus {
  outline: 3px solid tomato;
}

.parent {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.childs {
  width: 15%;
  min-height: 75px;
  background-color: powderblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

/* nth-child */
/*
.childs:nth-child(3) {
  background-color: red;
} */

/* .childs:first-child {
  background-color: red;
} */

/* .childs:last-child {
  background-color: red;
} */

/* .childs:nth-last-child(2) {
  background-color: red;
} */

/* .childs:nth-child(2n) {
  background-color: red;
} */

/* .childs:nth-child(-n+3) {
  background-color: red;
} */

.childs:not(:nth-child(3)) {
  background-color: red;
}

input[type="radio"]:checked {
  height: 100px;
  width: 100px;
}

button {
  display: block;
}

button:disabled {
  pointer-events: none;
  opacity: 0.4;
}


p::first-letter {
  font-size: 24px;
  font-weight: bold;
}

p::first-line {
  font-style: italic;
}

::selection {
  background-color: yellow;
}

.scene {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition-property: color, font-size;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.24, .51, 1, .02); */
  /* transition-delay: 1s; */
  transition: color, font-size 500ms cubic-bezier(.24, .51, 1, .02);
}

.scene:hover {
  font-size: 24px;
  color: blue;
}

.scene > * {
  position: relative;
  z-index: 1;
}

.scene::before {
  /* content: ''; */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #999;
}

.scene::after {
  /* content: ''; */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #999;
}
